@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
html{
    scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
/*nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}*/
nav img{
  width: 80px;
  height: auto;
  box-shadow: #1b1b1b;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}


section {
    background-color: #BF263C;
    padding-top: 80px;
    padding-bottom: 10%;
    margin-bottom: 0; 
  }
  
  h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    font-weight: 400;
  }
  
  .services {
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-1 {
    width: 320px;
    background-color: #fff;
    padding: 15px;
    margin: 35px;
    border-radius: 10px;
  }
  
  .img {
    padding-top: 30px;
  }
  
  img {
    height: auto;
    width: 100%;
  }
  
  .description {
    padding-bottom: 30px;
    text-align: center;
    margin-top: 30px; 
  }
  
  h2 {
    text-transform: uppercase;
    color: #BF263C;
  }
  
  p {
    margin-top: 20px;
    color: #777;
  }
  
  .shapes {
    position: relative;
  }
  
  .shape-1,
  .shape-2,
  .shape-3,
  .shape-4,
  .shape-5,
  .shape-6 {
    width: 20px;
    height: 40px;
    border-radius: 35px;
    position: absolute; 
  }
  
  .right {
    right: 0;
  }
  
  .shape-1 {
    right: 40px;
    background-color: #BF263C;
    top: -60px;
    transition: all linear .5s;
  }
  
  .shape-2 {
    right: 20px;
    background-color: #fff;
    top: -10px;
    transition: all linear .5s;
  }
  
  .shape-3 {
    background-color: #BF263C;
    top: -60px;
    transition: all linear .5s;
  }
  
  .service-1:hover .shape-1 {
    top: -30px;
  }
  
  .service-1:hover .shape-2 {
    top: -30px;
  }
  
  .service-1:hover .shape-3 {
    top: -40px;
  }
  
  .shape-4 {
    background-color: #fff;
    top: -27px;
    transition: all linear .5s;
  }
  
  .shape-5 {
    background-color: #BF263C;
    left: 20px;
    top: 17px;
    transition: all linear .5s;
  }
  
  .shape-6 {
    background-color: #fff;
    left: 40px;
    top: -27px;
    transition: all linear .5s;
  }
  
  .service-1:hover .shape-4 {
    top: -7px;
  }
  
  .service-1:hover .shape-5 {
    top: 0;
  }
  
  .service-1:hover .shape-6 {
    top: -15px;
  }


.space{
    margin: auto;
    padding-bottom: 0;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}