@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}





nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav img{
    width: 80px;
    box-shadow: #1b1b1b;
}


nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }


  /* made4u start -textbox */
.text-box{
    /* width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    */
    position: relative;
    max-width: 900px;
    padding: 70px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    overflow: hidden;
    color: #000;
    margin: auto;
    margin-top: 10%;
}
.text-box h1{
   font-size: 60px;
   margin: 20px;
   color: #000;
   text-align: center;
   position: relative;
  
   /* margin: 0 0 20px;
   padding: 0;
   font-size: 48px;
   text-transform: uppercase;
   z-index: 2; */
}

 .text-box h1 span{
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 0;
     background-color: white;
     animation: text_reveal_box 1s ease;
     animation-delay: 1s;
 }

.text-box p{
    margin: 10px 0 40 px;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
    /* position: relative;
    margin: 0;
    padding: 0;
    font-size: 18px;
    z-index: 2; */
}
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/* made4u end -textbox */


/* for flip */

.services h1{
    width: 80%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}




.services p{
    text-align: center;
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    margin-bottom: 30px;
}

.bodys{

    margin:auto;
    margin-top: 8%;
    padding: auto;
    height: auto;
    width: auto;
    text-align: center;
    margin-bottom: 10%;
  }
  .wrapper{
    display: grid;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  @media (max-width: 700px) {
    .wrapper{
      margin: 200px auto;
    }
  }
  .wrapper .box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
  }
  .wrapper .box .front-face{
    background: black;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .front-face .icon{
    height: 80px;
  }
  .box .front-face .icon i{
    font-size: 65px;
  }
  .box .front-face span,
  .box .back-face span{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .front-face .icon i,
  .box .front-face span{
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .box .back-face{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
  }
  .box .back-face p{
    margin-top: 10px;
    text-align: justify;
  }
  .box:hover .back-face{
    opacity: 1;
    transform: rotateX(0deg);
  }
  .box:hover .front-face{
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
  }

  


  /* contact form*/

  .form-body{
    margin: auto;
    margin-top: 20%;
}

  .container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url('images/bg.jpeg') no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  border-radius: 10px;
}

.left{
	background: url('images/contact-me.png') no-repeat center;
	background-size: 50%;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid blue;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
  border-radius: 10px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}

#status{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgb(250, 129, 92);
    color: white;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
} 

/*footer*/

.space{
    margin: 20% auto 0 auto;
}

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
  
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.social {
  position: fixed;
  color: #000;
}
.imgwhatsapp {
  margin-top: 8px;
}
